// -------------------------- TYPOGRAPHY - BASE ----------------------------- //

html {
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
}

body,
input,
textarea,
select,
button {
  font-family: "Devo Font", sans-serif;
}
