// ------------------------ FONTS - BASE - VARIABLES ------------------------ //


$devo-font-name: "Devo Font";
$devo-font-family: $devo-font-name, sans-serif;

$poppins-font-name: "Poppins";
$poppins-font-family: $poppins-font-name, sans-serif;

$mono-font-name: "Mono Font";
$mono-font-family: $mono-font-name, monospace;
