// ----------------------- PATHS - UTILS - VARIABLES ------------------------ //


// ROOT - PATHS - UTILS - VARIABLES ----------------------------------------- //

$root-path: '..';


// ASSETS - PATHS - UTILS - VARIABLES --------------------------------------- //

$fonts-path: 'fonts';
$icons-path: 'icons';
$images-path: 'img';
