// --------------------------- VARIABLES - UTILS ---------------------------- //


// TYPOGRAPHY - VARIABLES --------------------------------------------------- //

// Font families - Typography - Variables

$devo-font-name: "Devo Font";
$devo-font: $devo-font-name, sans-serif;

$poppins-font-name: "Poppins";
$poppins-font: $poppins-font-name, sans-serif;

$mono-font-name: "Mono Font";
$mono-font: $mono-font-name, monospace;


// PATHS - VARIABLES -------------------------------------------------------- //

// Root - Paths - Variables

$root-path: '..';

// Assets - Paths - Variables

$fonts-path: 'fonts';
$icons-path: 'icons';
$images-path: 'img';
