// -------------------------- TYPOGRAPHY - BASE ----------------------------- //


html {
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
}

body,
input,
textarea,
select,
button {
  font-family: $devo-font-family;
}

pre,
code,
kbd,
samp {
  font-family: $mono-font-family;
}

a {
  position: relative;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

ul,
ol {
  margin: 0;
}

ol {
  list-style-type: decimal;
}